@import "vars";
@import "libs";
@import "fonts";
@import "global";

.cover{
    width: 400px;
    height: 100px;
}
.weekdays{
    display: flex;
    justify-content: space-between;
}

.header{
    &__logo{
        width: 300px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        background: #cc3399;
        .burger{
            display: none;
        }
        
    }
    &__wrapper.active{
        position: fixed;
        top:0;
        left:0;
        right:0;
        height: 100vh;
        width: 100%;
        .header__item{
            
        }
    }
    .burgermenu{
        display: none;
    }
    &__item{
        a{
            display: inline-block;
            color:white;
             padding: 15px 10px; 
        }
           
    }
}
.week{
    &__inner{
        margin: 20px 0;
    }
    &__wrapper{
       
        .title{
            background-color: rgb(211, 211, 211);
            padding: 10px 15px;
        }
        h1{
            display: inline-block;
            font-size:2rem;
            text-transform: uppercase;
        }
    }
    &-wrapper__card{
        
        width: 450px;
        margin-bottom: 75px;
        h1{
            margin: 10px 0;
            font-size:1.2rem;
        }
        img{
            width: 100%;
        }
        div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 10px 0;
            button{
                padding: 7px 10px;
                border-radius: 5px;
                border:1px solid grey;
                transition: all ease 0.15s;
                cursor:pointer;
                border: 1px solid #cc3399;
            }
            button:hover{
                background: #cc3399;
                color: white;
                border: 1px solid white;
            }
            button.checked{
                background: red;
                color:white;
            }
        
        }
    }
}

@import "media";